<html>
    <head>
        <title> TODO App </title>
        <!-- viewport meta tag -->
        <meta name="viewport" content="width = device-width, initial-scale = 1">
        <!-- CDN of font awesome for icon -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

        <!-- css for jquery-ui   datepicker -->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <!-- js for jquery-ui   datepicker -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


        <%- style %>

    </head>

    <body>
        
        <%- body %>

        <%- script %>
    </body>

</html>