



#form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

h1{
    text-align: center;
}

#description-area{
    width: 100%;
    /* padding: 5px; */
}

#catogary-and-due-date-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

#category{
    width: 50%;
    height: 50px;
}

#buttons{
    text-align: center;
}